In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train = pd.read_csv("/kaggle/input/titanic/train.csv")
test = pd.read_csv("/kaggle/input/titanic/test.csv")
survived = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#prep initial data for first model (all numeric columns with no nulls)
x_train = train[['Pclass','Fare']]
y_train = train[['Survived']]
x_test = test[['Pclass','Fare']]

#create logistic model
model_log = sm.Logit(y_train, x_train).fit()
print(model_log.summary())

Optimization terminated successfully.
         Current function value: 0.609424
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      889
Method:                           MLE   Df Model:                            1
Date:                Thu, 20 Oct 2022   Pseudo R-squ.:                 0.08483
Time:                        20:13:11   Log-Likelihood:                -543.00
converged:                       True   LL-Null:                       -593.33
Covariance Type:            nonrobust   LLR p-value:                 1.091e-23
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Pclass        -0.3786      0.034    -11.184      0.000      -0.445      -0.312
Fare           0.0107      0.002      5.960      0.000       0.007       0.014
==============================================================================

In [4]:
#get results and calculate accuracy

results = pd.DataFrame()
results["Prediction"] = model_log.predict(x_test).round()
results = pd.concat([results["Prediction"],survived["Survived"]], axis=1)
results["Accuracy"] = results.apply(lambda x: True if x['Prediction'] == x['Survived']  else False, axis=1)
results["Accuracy"].value_counts()

True     268
False    150
Name: Accuracy, dtype: int64

In [5]:
acc = len(results[results["Accuracy"]==True])/len(results)
print("Accuracy: ", acc)

Accuracy:  0.6411483253588517

## Varaible transformation